<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Question Answering Model</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
	<h1>Question Answering</h1>
	<form method="post" action="/api/">
		<label for="context">Context:</label><br>
		<textarea name="context" rows="8" cols="80"></textarea><br><br>
		<label for="question">Question:</label><br>
		<input type="text" name="question"><br><br>
		<div class="button-container">
        <input type="submit" value="Submit">
            <input type="reset" value="Clear" class="reset"></div>
	</form>


	<div class="results-container">
		<h2>Results:</h2>
		<p><strong>Answer:</strong> <span id="answer"></span></p>
		<p><strong>Score:</strong> <span id="score"></span>
	</div>
<form method="post" action="/api/feedback/" enctype="multipart/form-data" class="feedback-form">

        <input type="hidden" id="user_input" name="user_input">
        <input type="hidden" id="output" name="output">

        <label for="feedback">Leave your feedback about the model!</label><br>

        <div class="star-widget">
        <input type="radio" name="rating" id="rate-1" value="5">
        <label for="rate-1" class="fas fa-star"></label>
        <input type="radio" name="rating" id="rate-2" value="4">
        <label for="rate-2" class="fas fa-star"></label>
        <input type="radio" name="rating" id="rate-3" value="3">
        <label for="rate-3" class="fas fa-star"></label>
        <input type="radio" name="rating" id="rate-4" value="2">
        <label for="rate-4" class="fas fa-star"></label>
        <input type="radio" name="rating" id="rate-5" value="1">
        <label for="rate-5" class="fas fa-star"></label>


        </div>
       <textarea name="feedback_text" id="feedback_text" rows="4" cols="50" placeholder="Enter your feedback here..."></textarea><br><br>
        <div class="button-container">
        <input type="submit" value="Submit">
        </div>
    </form>



</body>
</html>


<!-- Solicitations for Api -->
<!-- curl curl -X POST -H "Content-Type: application/json" -d '{"context": "Seu contexto aqui", "question": "Sua pergunta aqui?"}' http://localhost:8000/api/ -->



<script>
    const form = document.querySelector('form');
    const clearButton = document.querySelector('.reset');
    const userInputElement = document.getElementById('user_input');
    const outputElement = document.getElementById('output');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const response = await fetch('/api/', {
            method: 'POST',
            body: formData
        });

        const data = await response.json();
        const answerElement = document.querySelector('#answer');
        answerElement.textContent = data.answer;

        const confidenceElement = document.querySelector('#score');
        confidenceElement.textContent = data.score.toFixed(2);

        userInputElement.value = JSON.stringify({context: formData.get('context'), question: formData.get('question')});
        outputElement.value = JSON.stringify(data);
    });

    const feedbackForm = document.querySelector('.feedback-form');

    feedbackForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(feedbackForm);
        const response = await fetch('/api/feedback/', {
            method: 'POST',
            body: formData
        });

        const data = await response.json();

        if (data.status === 'success') {
            alert('Feedback salvo com sucesso!');
            feedbackForm.reset();
        } else {
            alert('Ocorreu um erro ao salvar o feedback. Por favor, tente novamente.');
        }
    });
</script>
